@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    font-style: italic;
  }
}

body {
  width: 100vw;
  min-height: 300vh;

  font-family: "Poppins", sans-serif;
  font-size: large;
  background-image: url(../images/web.png);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-size: 18px;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.linkbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  position: sticky;
  margin-top: 10px;
  padding: 0;
  gap: 10px;
  top: 0;
  @extend %heading-text;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
  padding: 0 20px;
  p {
    font-size: 30px;
    strong {
      font-size: larger;
      font-family: "Comfortaa", cursive;
    }
  }

  div {
    flex-grow: 1;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  * {
    padding: 10px;
  }
  p {
    width: 60vh;
  }
  img {
    height: 50%;
    width: 20vw;
    margin: 20px;
    outline: 2px solid white;
    border-radius: 10px;
  }
  img:hover {
    outline: 2px solid rgb(255, 157, 174);
    border-radius: 10px;
  }
  a,
  strong {
    padding: 0;
  }
}

.tech-container {
  margin: 150px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 100vh;
  div {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid green;
    i {
      font-size: xx-large;
    }
  }
  div:hover {
    background-color: rgba(248, 175, 175, 0.603);
    border-radius: 15px;
  }
}

.interests {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h3 {
    font-size: x-large;
  }
}

.about-me {
  text-align: right;
  margin: 100px 10px;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    font-size: large;
    a {
      font-size: larger;
      font-family: "Comfortaa", cursive;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(../images/mobile.png);
  }
  .welcome-container,
  .about-me,
  .contact,
  .interests,
  .projects-container {
    padding: 0 20px;
  }

  .linkbar {
    padding: 10px 20px;
  }

  .welcome-container {
    p {
      font-size: 20px;
    }
  }
  .project {
    flex-direction: column;
    p {
      width: 100%;
      order: 1;
    }
    img {
      width: 50vw;
      order: 2;
    }
  }
}

@media only screen and (min-width: 768px) {
  .welcome-container,
  .about-me,
  .contact,
  .interests {
    padding: 0 20vh;
  }
  .linkbar {
    padding: 20px 40px;
  }

  .tech-container {
    width: 1000px;
    margin: 150px auto;
    div {
      width: 200px;
      height: 200px;
    }
  }
}
